<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
        <img src="../../../assets/images/logoapp.png" alt="" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="signup">Buscar eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="events/createEvent">Crear eventos</a>
          </li>
        </ul>
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>-->
        
       
        <button class="btn nav-link active" type="submit" routerLink="signup">
          
           Registrar
           <img src="../../../assets/images/people.svg" alt="Registrar" width="25" height="25" routerLink="signup"> 
        </button>
        <button class="btn nav-link active" type="submit" routerLink="login">
          
          Login
          <img src="../../../assets/images/person-circle.svg" alt="Login" width="25" height="25" routerLink="login"> 
        </button>

      </div>
    </div>
  </nav>