<div class="">
  <div class="container-lg">
    <h1 class="display-4">Share(K)nows</h1>
    <p class="lead">From frictionless supply chains to food we can really trust, learn how industries are
      revolutionizing business with IBM Blockchain. Let’s put smart to work.™ </p>
  </div>


  <div class="container-fluid">
    <p class="lead">Próximos Eventos</p>
    <div class="row">
      <div class="col" *ngFor="let event of eventsList;">
        <app-card-event [eventData]="event" [imagen]="true"></app-card-event>
        <br>
      </div>
    </div>
  </div>
</div>