.auth-form {
    width: 650px;
    margin: 0 auto;
}

.form-body {
    border-top: 1px solid #d8dee4;
    border-radius: 6px;
    padding: 16px;
    font-size: 14px;
    background-color: #f6f8fa;
    border: 1px solid #d8dee4;
}

.title-center {
    text-align: center
}