
<br>
<div class="auth-form">
    <div class="form-body">
        <div class="title-center">
            <h1>Login</h1>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="saveData()">
            <div class="mb-1">
                <label class="form-label">User</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && fc['username'].errors }">
                    <div *ngIf="submitted && fc['username'].errors" class="invalid-feedback">
                        <div *ngIf="fc['username'].errors['required']">Ingresa tu email</div>
                    </div>
                </div>
            </div>
            <div class="mb-1">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && fc['password'].errors }">
                <div *ngIf="submitted && fc['password'].errors" class="invalid-feedback">
                    <div *ngIf="fc['password'].errors['required']">Ingresa tu password</div>
                </div>
            </div> 
            <br>
            <div class="title-center">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</div>