<div class="container-fluid">

    <br>
    <div class="form-body" *ngIf="citySelected === undefined || citySelected === null">
        <div class="col mb-1">
            <label class="form-label">Pais</label>
            <select class="form-select" id="idcountry" (change)="onChangeCountry($event)">
                <option value="">Selecciona</option>
                <option *ngFor="let coutry of countryList;" [value]="coutry.idcountry">{{coutry.description}}
                </option>
            </select>
        </div>
        <div class="col mb-1">
            <label class="form-label">Ciudad</label>
            <select class="form-select" aria-label="Default select example" id="idcity" (change)="onChangeCity($event)">
                <option value="">Selecciona</option>
                <option *ngFor="let city of cityList;" [value]="city.idcity">{{city.name}}</option>
            </select>
        </div>
    </div>
    <br>
    <p class="lead">Próximos Eventos</p>

    <div class="row">
        <div class="col" *ngFor="let event of eventsList;">
            <app-card-event [eventData]="event" [imagen]="true"></app-card-event>
            <br>
        </div>
    </div>
</div>