
.bag-dark {
    background-color: #f1f3f5;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: #4b69bb !important;
}
/*
 You can add global styles to this file, and also import other style files 


body {
    color: #ffffff;
}*/

